---
layout: default
---
{% include ism.html %}
<div class="full zebra">
	<div class="container">
		<div class="row"><div class="empty-space"></div></div>
		<div class="row">
			<div class="col-md-12"><center><span class="txt-white txt-h1">Internet Friendly Media Encoder</span></center></div>
		</div>
		<div class="row">
			<div class="col-md-4"><a href="https://www.facebook.com/internetfriendlymediaencoder/"><center><img style="width: 240px" src="image/FindUs1.png"><br><span class="txt-white txt-h2">Like</span></center></a></div>
			<div class="col-md-4"><a href="https://github.com/Anime4000/IFME"><center><img style="width: 240px" src="image/FindUs2.png"><br><span class="txt-white txt-h2">Fork</span></center></a></div>
			<div class="col-md-4"><a href="http://steamcommunity.com/sharedfiles/filedetails/?id=530480609"><center><img style="width: 240px" src="image/FindUs3.png"><br><span class="txt-white txt-h2">Vote</span></center></a></div>
		</div>
		<div class="row"><div class="empty-space"></div></div>
	</div>
</div>
<div class="full line">
	<div class="container">
		<div class="row"><div class="empty-space"></div></div>
		<div id="news">
			<div class="row">
				<div class="col-md-2"><div><center><b>Top Donor:</b></center></div></div>
				<div class="col-md-10"><div><marquee>{% include topdonor.txt %}</marquee></div></div>
			</div>
		</div>
		<div class="row"><div class="empty-space"></div></div>
		<div class="row">
			<div class="col-md-6">
				<center>
					<a href="download.html"><img src="image/DownloadFor1.png"></a><br>
					<a href="addons.html"><img src="image/DownloadFor2.png"></a>
				</center>
			</div>
			<div class="row"><div class="empty-space"></div></div>
			<div class="col-md-6">
				 <iframe src="https://www.youtube.com/embed/LuaWHyKhpq0?autoplay=0"></iframe> 
			</div>
		</div>
		<div class="row"><div class="empty-space"></div></div>
	</div>
	<div class="container">
		<div id="news">
			<div class="row">
				<div class="col-md-12"><center><h1>Latest Updates</h1></center></div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<div class="content" id="news-update">
				{% include news.html %}
				</div>
				</div>
			</div>
		</div>
		<div class="row"><div class="empty-space"></div></div>
	</div>
</div>