@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	font-family: Open Sans, Meiryo;
	font-size: 8pt;
	text-align: center;
}

a {
	text-decoration: none;
}

iframe{
	width: 100%;
	height: 100%;
	
	border: 0px;
}

.cache {
	top: 0px;
	position: absolute;
	visibility: hidden;
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.banner {
	width: 100%;
	height: 64px;
	background-color: #000;
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.background.menu {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 200px;
	background-color: #ffa500;
	margin-top: 64px;
	margin-bottom: 32px; 
}

.menu {
	height: auto;
	width: 200px;
	padding-bottom: 32px;
}

.background.xframe {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	margin-top: 64px;
	margin-bottom: 32px;
	margin-left: 200px; 
}

.xframe {
	width: auto;
	height: auto;
	padding-bottom: 32px;
}

.footer {
	width: 100%;
	height: 32px;
	background-color: #6393c1;
}

/* content */

#banner_left{
	background: no-repeat url('images/banner_left.png');
	width: 634px;
	height: 64px;
	left: 0px;
	
	position: absolute;
}

#banner_right{
	background: no-repeat url('images/banner_right.png');
	width: 634px;
	height: 64px;
	right: 0px;
	
	position: absolute;
}

#menu_colour{
	color: #000;
	background: #F0F8FF;
}

#menu_content{
	width: 170px;
	height: auto;

	top: 18px;
	left: 14px;
	
	position: absolute;
	border: 1px green solid;
}

#donate_content{
	width: 170px;
	height: auto;

	top: 380px;
	left: 14px;

	text-align: left;

	position: absolute;
	/*border: 1px green solid;*/
}

.menu_link{
	left: 0px;
	position: absolute;
	
	font-size: 12pt;
	font-weight: bold;
	font-style: oblique;
	color: #00E;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}

.menu_link:hover{
	text-shadow: 2px 2px 4px rgba(0, 162, 232, 0.5);
}

.menu_size{
	width: 170px;
	height: 50px;
}

div .menu_size:hover{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQwOTZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iOTYlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQwOTZlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  rgba(64,150,238,1) 0%, rgba(255,255,255,0.25) 4%, rgba(255,255,255,0.25) 96%, rgba(64,150,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(64,150,238,1)), color-stop(4%,rgba(255,255,255,0.25)), color-stop(96%,rgba(255,255,255,0.25)), color-stop(100%,rgba(64,150,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(64,150,238,1) 0%,rgba(255,255,255,0.25) 4%,rgba(255,255,255,0.25) 96%,rgba(64,150,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(64,150,238,1) 0%,rgba(255,255,255,0.25) 4%,rgba(255,255,255,0.25) 96%,rgba(64,150,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(64,150,238,1) 0%,rgba(255,255,255,0.25) 4%,rgba(255,255,255,0.25) 96%,rgba(64,150,238,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(64,150,238,1) 0%,rgba(255,255,255,0.25) 4%,rgba(255,255,255,0.25) 96%,rgba(64,150,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=1 ); /* IE6-8 */
}