<!-- Duh! Using bootstrap navigation
<div class="full header">
	<div class="container">
		<div class="row" id="menu">
			<div class="col-md-2"><span class="table-main"><a class="table-cell" href="/"><img src="image/logo.png"></a></span></div>
			<div class="col-md-2"><span class="table-main"><a class="table-cell link-a icon-download" href="download.html">Download</a></span></div>
			<div class="col-md-2"><span class="table-main"><a class="table-cell link-b icon-plug" href="addons.html">Addons</a></span></div>
			<div class="col-md-2"><span class="table-main"><a class="table-cell link-c icon-users" href="contrib.html">Contributor</a></span></div>
			<div class="col-md-2"><span class="table-main"><a class="table-cell link-d icon-paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4CKYN7X3DGA7U">Donate</a></span></div>
			<div class="col-md-2"><span class="table-main"><a class="table-cell link-e icon-help-circled" href="https://github.com/Anime4000/IFME/wiki">Help</a></span></div>
		</div>
	</div>
</div>
-->

<nav class="navbar navbar-default">
	<div class="container">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">IFME</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a class="icon-download" href="download.html">Download</a></li>
				<li><a class="icon-plug" href="addons.html">Addons</a></li>
				<li><a class="icon-users" href="contrib.html">Contributor</a></li>
				<li><a class="icon-picture" href="gallery.html">Gallery</a></li>
				<li><a class="icon-paypal" href="https://paypal.me/anime4000/10">Donate</a></li>
				<li><a class="icon-help-circled" href="https://github.com/Anime4000/IFME/wiki">Help</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="icon-dollar" href="#">Monthly Goal: {% include paypal.txt %}</a></li>
			</ul>
		</div>
	</div>
</nav>