<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="ism/css/slider.css"/>
<script src="ism/js/ism-2.1.js"></script>

<div class="ism-slider" data-transition_type="zoom" data-play_type="loop" data-interval="10000" id="slider">
	<ol>
		<li>
			<img src="ism/image/slides/Wallpaper_10.jpg">
			<div class="ism-caption ism-caption-0">Fast &amp; Easy x265 GUI Encoder</div>
		</li>
		<li>
			<img src="ism/image/slides/Wallpaper_ext.png">
			<div class="ism-caption ism-caption-0">Powerful & Flexible</div>
		</li>
		<li>
			<img src="ism/image/slides/5800.jpg">
			<div class="ism-caption ism-caption-0">Save bandwidth upto 50%!</div>
		</li>
	</ol>
</div>